<%- include('./partials/header.ejs', {title: 'Home'}) -%>

<html class="no-js" lang="zxx">
    <head>
       
		<!-- Title -->
        <title>dr_1</title>
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        	<!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Our Doctors</h2>
							<ul class="bread-list">
								<li><a href="/doctors">Doctors</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Doctors Profile</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
	
		<!-- Start Portfolio Details Area -->
		<section class="pf-details section">
			<div class="container">
				<div class="row">
					<div class="col-12">
						<div class="inner-content">
							<div class="image-slider" style="text-align: center;">
								<img src="img/priyanka.jpg" >
							
							<div class="body-text">
								<h1>Dr. Priyanka Singh </h1>
								<p>"Dr. Priyanka Singh, MD, is a highly skilled gynecologist at Shanti Clinic. With over a decade of experience, she specializes in a wide range of women's health issues, including obstetrics, reproductive health, and gynecological surgeries. Dr. Singh is committed to delivering exceptional care, tailored to meet the unique needs of each patient, ensuring comfort and confidence throughout their journey to wellness."</p>
								<div class="share">
									<h4>Share Now -</h4>
									<ul>
										<li><a href="#"><i class="fa-brands fa-square-facebook" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa-brands fa-square-twitter" aria-hidden="true"></i></a></li>
										<li><a href="#"><i class="fa-brands fa-linkedin" aria-hidden="true"></i></a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Portfolio Details Area -->
    </body>
</html>
<%- include('./partials/footer.ejs') -%>