<%- include('./partials/header.ejs', {title: 'Home'}) -%>

<html class="no-js" lang="zxx">
    <head>
		
		<!-- Title -->
        <title>home</title>
		
    </head>
    <body>
	
		
        <!-- End Preloader -->
        <!-- Slider Area -->
		<section class="slider">
			<div class="hero-slider">
			  <!-- Start Single Slider -->
			  <div class="single-slider" style="background-image:url('img/slider2.jpg')">
				<div class="container">
				  <div class="row">
					<div class="col-lg-7">
					  <div class="text">
						<h1>We Provide <span>Medical</span> Services That You Can <span>Trust!</span></h1>
						<div class="button">
						  <a href="/appointment" class="btn">Get Appointment</a>
						  <a href="/about" class="btn primary">Learn More</a>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <!-- End Single Slider -->
			  <!-- Start Single Slider -->
			  <div class="single-slider" style="background-image:url('img/slider3.jpg');">
				<div class="container">
				  <div class="row" style=" margin-top: 35px;">
					<div class="col-lg-7">
					  <div class="text">
						<h1>We Provide <span>Healthcare</span> Services That You Can <span>Rely On!</span></h1>
						<div class="button">
						  <a href="/appointment" class="btn">Get Appointment</a>
						  <a href="/about" class="btn primary">Learn More</a>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			  <!-- End Single Slider -->
			   <!-- Start Single Slider -->
			   <div class="single-slider" style="background-image:url('img/slider.jpg');">
				<div class="container">
				  <div class="row" style=" margin-top: 35px;">
					<div class="col-lg-7">
					  <div class="text">
						<h1>We Provide <span>Healthcare</span> Services That You Can <span>Rely On!</span></h1>
						<div class="button">
						  <a href="/appointment" class="btn">Get Appointment</a>
						  <a href="/about" class="btn primary">Learn More</a>
						</div>
					  </div>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </section>
		  
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="fa fa-ambulance"></i>
									</div>
									<div class="single-content">
										<span>Medical Store</span>
										<h4>Emergency Cases</h4>
										<p>"From remedies to reassurance, our medical store is dedicated to serving you with integrity."</p>
										<a href="/medical">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-prescription"></i>
									</div>
									<div class="single-content">
										<span>Schedule</span>
										<h4>Doctors Timetable</h4>
										<p>"Time is the healer's canvas, and our doctor's timetable is the masterpiece to bring solace to those in need.."</p>
										<a href="#">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-ui-clock"></i>
									</div>
									<div class="single-content">
										<span>Timings</span>
										<h4>Opening Hours</h4>
										<ul class="time-sidual">
											<li class="day">Monday - Friday <span>8:00-20:00</span></li>
											<li class="day">Saturday <span>9:00-18:30</span></li>
											<li class="day">Sunday<span>10:00-12:00</span></li>
										</ul>
										<a href="/partials/footer.ejs">LEARN MORE<i class="fa fa-long-arrow-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You & Your Family</h2>
							<img src="img/section-img.png" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<a href='/medical'><i class="icofont icofont-ambulance-cross"></i></a>
							</div>
							<h3>Medical Store</h3>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<a href='/pathology'><i class="icofont icofont-medical-sign-alt"></i></a>
							</div>
							<h3>Pathology Lab</h3>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<a href='/vaccination'><i class="icofont icofont-stethoscope"></i></a>
							</div>
							<h3>Vaccination</h3>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->

		
	
		
		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Do you need Emergency Medical Care? Call @ 1234 56789</h2>
							<div class="button">
								<a href="/contact" class="btn">Contact Now</a>
								<a href="/about" class="btn second">Learn More<i class="fa fa-long-arrow-right"></i></a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
    </body>
</html>
<%- include('./partials/footer.ejs') -%>
