<%- include('./partials/header.ejs', {title: 'Home'}) -%>

<html>
<head>
    <title>Laboratory</title>
    <!-- Google Web Fonts -->
   
		
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">


</head>
<body> 

 <!-- Page Header Start -->
 <div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Laboratory services</h2>
                    <ul class="bread-list">
                        <li><a href="/services">Services</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Pathology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid container-service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 mb-3 mainheadeing">Reliable & High-Quality Laboratory Service</h1>
            <p class="mb-4 text">"In the pursuit of health, every test reveals a piece of the puzzle. With precision and compassion, we piece together the story of your well-being, guiding you towards clarity and peace of mind."</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-bed-pulse text-dark"></i>                    </div>
                    <h5 class="mb-3">Ultrasound</h4>
                        <p class="mb-4 text1">"In the rhythm of life, every beat tells a story."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-viruses  text-dark"></i>                    </div>
                    <h5 class="mb-3">HIV</h4>
                        <p class="mb-4 text1">"Hope is stronger than fear; together, we can end the HIV epidemic."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-heart-pulse text-dark"></i>
                    </div>
                    <h5 class="mb-3">MRI</h4>
                        <p class="mb-4 text1">"Beyond the surface, beneath the skin, the truth lies within the MRI."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="bi bi-capsule-pill text-dark"></i>
                    </div>
                    <h5 class="mb-3">Histopatology Tests</h4>
                        <p class="mb-4 text1">"Unveiling the secrets of disease, one tissue sample at a time."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-vial-virus text-dark"></i>
                    </div>
                    <h5 class="mb-3">Urine Tests</h4>
                        <p class="mb-4 text1">"Where the stream of health meets the science of analysis."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-droplet  text-dark"></i>
                    </div>
                    <h5 class="mb-3">Blood Tests</h4>
                        <p class="mb-4 text1">"Blood tests: the language of health, spoken in molecules and cells."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        </i><i class="fa-solid fa-temperature-full  text-dark"></i>
                    </div>
                    <h5 class="mb-3">Fever Tests</h4>
                        <p class="mb-4 text1">"Fever tests: the first step in uncovering the cause of discomfort."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-disease text-dark"></i>
                     </div>
                    <h5 class="mb-3">Allergy Tests</h4>
                        <p class="mb-4 text1">"From sensitivity to solution, allergy tests offer clarity and relief."</p>
                    <!--a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a-->
                </div>
            </div>
        </div>
    </div>
    <div class="get-quote" >
      <center> <a href="/pathology_form" class="btn">Apply for test</a></center> 
    </div>
</div>
<!-- Script -->
<script src="https://kit.fontawesome.com/c1df782baf.js"></script>
</body>

</html>

<%- include('./partials/footer.ejs') -%>