<%- include('./partials/header.ejs', {title: 'Home'}) -%>
<!DOCTYPE html>
<html>
<head>
    <title>Laboratory</title>
    <!-- Google Web Fonts -->
    <!-- Favicon -->
    <link rel="icon" href="img/favicon.png">
		
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="css/nice-select.css">
    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <!-- icofont CSS -->
    <link rel="stylesheet" href="css/icofont.css">
    <!-- Slicknav -->
    <link rel="stylesheet" href="css/slicknav.min.css">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="css/owl-carousel.css">
    <!-- Datepicker CSS -->
    <link rel="stylesheet" href="css/datepicker.css">
    <!-- Animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="css/magnific-popup.css">
    
    <!-- Medipro CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="style.css">

    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&family=Red+Rose:wght@600;700&display=swap"
        rel="stylesheet">
       <!-- Customized Bootstrap Stylesheet -->
        <link href="css/bootstrap1.min.css" rel="stylesheet">
    
        <!-- Template Stylesheet -->
        <link href="style1.css" rel="stylesheet">
        


</head>
<body> 

 <!-- Page Header Start -->
 <div class="breadcrumbs overlay">
    <div class="container">
        <div class="bread-inner">
            <div class="row">
                <div class="col-12">
                    <h2>Laboratory services</h2>
                    <ul class="bread-list">
                        <li><a href="/services">Services</a></li>
                        <li><i class="icofont-simple-right"></i></li>
                        <li class="active">Pathology</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Service Start -->
<div class="container-fluid container-service py-5">
    <div class="container py-5">
        <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 600px;">
            <h1 class="display-6 mb-3 mainheadeing">Reliable & High-Quality Laboratory Service</h1>
            <p class="mb-4 text">"In the pursuit of health, every test reveals a piece of the puzzle. With precision and compassion, we piece together the story of your well-being, guiding you towards clarity and peace of mind."</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-bed-pulse text-dark"></i>                    </div>
                    <h5 class="mb-3">Ultrasound</h4>
                        <p class="mb-4 text1">"In the rhythm of life, every beat tells a story."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-viruses  text-dark"></i>                    </div>
                    <h5 class="mb-3">HIV</h4>
                        <p class="mb-4 text1">"Hope is stronger than fear; together, we can end the HIV epidemic."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-heart-pulse text-dark"></i>
                    </div>
                    <h5 class="mb-3">MRI</h4>
                        <p class="mb-4 text1">"Beyond the surface, beneath the skin, the truth lies within the MRI."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="bi bi-capsule-pill text-dark"></i>
                    </div>
                    <h5 class="mb-3">Histopatology Tests</h4>
                        <p class="mb-4 text1">"Unveiling the secrets of disease, one tissue sample at a time."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-vial-virus text-dark"></i>
                    </div>
                    <h5 class="mb-3">Urine Tests</h4>
                        <p class="mb-4 text1">"Where the stream of health meets the science of analysis."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-droplet  text-dark"></i>
                    </div>
                    <h5 class="mb-3">Blood Tests</h4>
                        <p class="mb-4 text1">"Blood tests: the language of health, spoken in molecules and cells."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        </i><i class="fa-solid fa-temperature-full  text-dark"></i>
                    </div>
                    <h5 class="mb-3">Fever Tests</h4>
                        <p class="mb-4 text1">"Fever tests: the first step in uncovering the cause of discomfort."</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item">
                    <div class="icon-box-primary mb-4">
                        <i class="fa-solid fa-disease text-dark"></i>
                     </div>
                    <h5 class="mb-3">Allergy Tests</h4>
                        <p class="mb-4 text1">"From sensitivity to solution, allergy tests offer clarity and relief."</p>
                    <!--a class="btn btn-light px-3" href="">Read More<i class="bi bi-chevron-double-right ms-1"></i></a-->
                </div>
            </div>
        </div>
    </div>
    <div class="get-quote" >
      <center> <a href="/pathology_form" class="btn">Apply for test</a></center> 
    </div>
</div>
<!-- Script -->
<script src="https://kit.fontawesome.com/c1df782baf.js"></script>
</body>
</body>
</html>

<%- include('./partials/footer.ejs') -%>