
<html class="no-js" lang="zxx">
    <head>
        <!-- Meta Tags -->
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="keywords" content="Site keywords here">
		<meta name="description" content="">
		<meta name='copyright' content=''>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<!-- Title -->
        <title>Team</title>
		
		<!-- Favicon -->
        <link rel="icon" href="img/favicon.png">
		
		<!-- Google Fonts -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">


		<!-- Bootstrap CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Nice Select CSS -->
		<link rel="stylesheet" href="css/nice-select.css">
		<!-- Font Awesome CSS -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
		<!-- icofont CSS -->
        <link rel="stylesheet" href="css/icofont.css">
		<!-- Slicknav -->
		<link rel="stylesheet" href="css/slicknav.min.css">
		<!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="css/owl-carousel.css">
		<!-- Datepicker CSS -->
		<link rel="stylesheet" href="css/datepicker.css">
		<!-- Animate CSS -->
        <link rel="stylesheet" href="css/animate.min.css">
		<!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="css/magnific-popup.css">
		
		<!-- Medipro CSS -->
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/responsive.css">
		<style>
			* {
				font-family: Nunito, sans-serif;
			  }
			  
			  .text-blk {
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 0px;
				margin-left: 0px;
				line-height: 25px;
			  }
			  
			  .responsive-cell-block {
				min-height: 75px;
			  }
			  
			  .responsive-container-block {
				min-height: 75px;
				height: fit-content;
				width: 100%;
				display: flex;
				flex-wrap: wrap;
				margin-top: 0px;
				margin-right: auto;
				margin-bottom: 0px;
				margin-left: auto;
				justify-content: space-evenly;
			  }
			  
			  .outer-container {
				padding-top: 10px;
				padding-right: 50px;
				padding-bottom: 10px;
				padding-left: 50px;
				background-color: #dfdae8; /* Background color*/
			  }
			  
			  .inner-container {
				max-width: 1320px;
				flex-direction: column;
				align-items: center;
				margin-top: 50px;
				margin-right: auto;
				margin-bottom: 50px;
				margin-left: auto;
			  }
			  
			  .section-head-text {
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 5px;
				margin-left: 0px;
				font-size: 35px;
				font-weight: 700;
				line-height: 48px;
				color: #000000; /* Meet our expert Team*/
				margin: 0 0 10px 0;
			  }
			  
			  .section-subhead-text {
				font-size: 25px;
				color:#000000; /* Text Written */
				line-height: 35px;
				max-width: 470px;
				text-align: center;
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 60px;
				margin-left: 0px;
			  }
			  
			  .img-wrapper {
				width: 100%;
			  }
			  
			  .team-card {
				display: flex;
				flex-direction: column;
				align-items: center;
			  }
			  
			  .social-media-links {
				width: 125px;
				display: flex;
				justify-content: space-between;
			  }
			  
			  .name {
				font-size: 20px;
				font-weight: 700;
				color: #000000; /* Our names*/
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 5px;
				margin-left: 0px;
			  }
			  
			  .position {
				font-size: 20px;
				font-weight: 700;
				color: #050606;
				margin-top: 0px;
				margin-right: 0px;
				margin-bottom: 50px;
				margin-left: 0px;
			  }
			  
			  .team-img {
				width: 150%;
				height: 150%;
				border-radius: 50%;
				border:2px solid #fff;
			  }
			  .team-img:hover{
				box-shadow: 0px 2px 2px 0px #5f9986;
			  }
			  
			  .team-card-container {
				width: 190px;
				margin: 0 0 40px 0;
			  }
			
			   .span{
				color: #1f1e8f;
				font-size: 18px;
				text-align: center;
				font-weight: bold;
			   }
			   .follow{
				color: #050606;
				font-size: 20px;
			   }
			   .follow:hover{
				color: #d520cc;
			   }
			   
			  @media (max-width: 500px) {
				.outer-container {
				  padding: 10px 20px 10px 20px;
				}
			  
				.section-head-text {
				  text-align: center;
				}

				.section-head-text {
					margin-top: 0px;
					margin-right: 0px;
					margin-bottom: 5px;
					margin-left: 0px;
					font-size: 25px;
					font-weight: 700;
					line-height: 48px;
					color: #000000;
					margin: 0 0 10px 0;
				  }
				  
				  .section-subhead-text {
					font-size: 18px;
					color:#333;
					line-height: 35px;
					max-width: 470px;
					text-align: center;
					margin-top: 0px;
					margin-right: 0px;
					margin-bottom: 60px;
					margin-left: 0px;
				  }
				.name {
					font-size: 18px;
					font-weight: 700;
					color: #000000;
					margin-top: 0px;
					margin-right: 0px;
					margin-bottom: 5px;
					margin-left: 0px;
				  }
				  
				  .position {
					font-size: 18px;
					font-weight: 700;
					color: #050606;
					margin-top: 0px;
					margin-right: 0px;
					margin-bottom: 50px;
					margin-left: 0px;
				  }
			  }
			  
		</style>
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
		<!---===========================team area=================================-->
		
		<div class="responsive-container-block outer-container">
			<div class="responsive-container-block inner-container">
			  <p class="text-blk section-head-text">
				Meet Our Expert Team
			  </p>
			  <p class="text-blk section-subhead-text">
				"Introducing our expert team: a fusion of talent, dedication, and innovation. With each member bringing unique skills to the table. Together, we transform challenges into opportunities, paving the path for success."
			  <div class="responsive-container-block">
				<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
				  <div class="team-card">
					<div class="img-wrapper">
						<img class="team-img" src="img/anshika.jpg">
					  </div>
					  <p class="text-blk name">
						Anshika Patel
					  </p>
					  <p class="span">Team Leader</p>
					  <div class="follow">
						  <a href="https://www.facebook.com/rahila.sheikh.16752/" rel="tooltip" title="Follow me on Facebook" class="fab fa-facebook-f"></a>
						  <a href="https://www.instagram.com/rahilak84/" rel="tooltip" title="Follow me on Instagram" class="fab fa-instagram"></a>
						  <a href="https://www.linkedin.com/in/anshika-patel-177867237/" rel="tooltip" title="Follow me on Linkedin" class="fab fa-linkedin"></a>
						  <a href="https://www.linkedin.com/jobs/application-settings?li_theme=light" rel="tooltip" title="View Portfolio" class="fa-solid fa-address-book"></a>
					  </div>
				  </div>
				</div>
				<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
				  <div class="team-card">
					<div class="img-wrapper">
					  <img class="team-img" src="img/drishti.jpeg">
					</div>
					<p class="text-blk name">
						Drishti
					  </p>
					  <p class="span">Backend Developer</p>
					  <div class="follow">
						<a href="https://www.facebook.com/profile.php?id=100070346917029" rel="tooltip" title="Follow me on Facebook" class="fab fa-facebook-f"></a>
						<a href="https://www.instagram.com/miss_chakarvarty?utm_source=ig_web_button_share_sheet&igsh=ZDNlZDc0MzIxNw==" rel="tooltip" title="Follow me on Instagram" class="fab fa-instagram"></a>
						<a href="https://www.linkedin.com/in/drishti-chakarvarty-44b199289" rel="tooltip" title="Follow me on Linkedin" class="fab fa-linkedin"></a>
						<a href="https://portfoliodc.s3-web.ams03.cloud-object-storage.appdomain.cloud/ " rel="tooltip" title="View Portfolio" class="fa-solid fa-address-book"></a>
					</div>
				  </div>
				</div>
				<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
				  <div class="team-card">
					<div class="img-wrapper">
						<img class="team-img" src="img/rahila.jpg">
					</div>
					<p class="text-blk name">
						Rahila Khan
					  </p>
					  <p class="span">Frontend Developer</p>
					  <div class="follow">
						<a href="https://www.facebook.com/rahila.sheikh.16752/" rel="tooltip" title="Follow me on Facebook" class="fab fa-facebook-f"></a>
						<a href="https://www.instagram.com/rahilak84/" rel="tooltip" title="Follow me on Instagram" class="fab fa-instagram"></a>
						<a href="https://www.linkedin.com/jobs/application-settings?li_theme=light" rel="tooltip" title="Follow me on Linkedin" class="fab fa-linkedin"></a>
						<a href="https://my-portfolio-bucket.s3.us-south.cloud-object-storage.appdomain.cloud/Portfolio/index.html " rel="tooltip" title="View Portfolio" class="fa-solid fa-address-book"></a>
					</div>
				  </div>
				</div>
				<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
				  <div class="team-card">
					<div class="img-wrapper">
						<img class="team-img" src="img/kumkum.png">
					</div>
					<p class="text-blk name">
						Kumkukm Kumari
					  </p>
					  <p class="span">Frontend Developer</p>
					  <div class="follow">
						<a href="https://www.facebook.com/profile.php?id=100031299405861" rel="tooltip" title="Follow me on Facebook" class="fab fa-facebook-f"></a>
						<a href="https://www.instagram.com/kumkumrajput8899?igsh=MXNubGo4MmVsMDQxeA==" rel="tooltip" title="Follow me on Instagram" class="fab fa-instagram"></a>
						<a href="https://www.linkedin.com/in/kumkum-singh-0a408a1b1?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app" rel="tooltip" title="Follow me on Linkedin" class="fab fa-linkedin"></a>
						<a href="https://portfoiokumkum.s3.ams03.cloud-object-storage.appdomain.cloud/index.html" rel="tooltip" title="View Portfolio" class="fa-solid fa-address-book"></a>
					</div>
				  </div>
				</div>
								<div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 team-card-container">
				  <div class="team-card">
					<div class="img-wrapper">
						<img class="team-img" src="img/sadhana.jpeg">
					</div>
					<p class="text-blk name">
						Sadhana Prajapati
					  </p>
					  <p class="span">Backend Developer</p>
					  <div class="follow">
						<a href="https://www.facebook.com/profile.php?id=100089482994256&mibextid=ZbWKwL" rel="tooltip" title="Follow me on Facebook" class="fab fa-facebook-f"></a>
						<a href="https://www.instagram.com/itz_me_sadhana05/?igshid=ZDdkNTZiNTM%3D" rel="tooltip" title="Follow me on Instagram" class="fab fa-instagram"></a>
						<a href="https://www.linkedin.com/in/sadhana-prajapati-81a18524b/" rel="tooltip" title="Follow me on Linkedin" class="fab fa-linkedin"></a>
						<a href="https://heyportfoliobucket.s3.eu-gb.cloud-object-storage.appdomain.cloud/Portfolio/index.html" rel="tooltip" title="View Portfolio" class="fa-solid fa-address-book"></a>
					</div>
				  </div>
				</div>
			  </div>
			</div>
		  </div>
		  
	<!---===========================END team area=================================-->

		
		
		
		<!-- jquery Min JS -->
        <script src="js/jquery.min.js"></script>
		<!-- jquery Migrate JS -->
		<script src="js/jquery-migrate-3.0.0.js"></script>
		<!-- jquery Ui JS -->
		<script src="js/jquery-ui.min.js"></script>
		<!-- Easing JS -->
        <script src="js/easing.js"></script>
		<!-- Color JS -->
		<script src="js/colors.js"></script>
		<!-- Popper JS -->
		<script src="js/popper.min.js"></script>
		<!-- Bootstrap Datepicker JS -->
		<script src="js/bootstrap-datepicker.js"></script>
		<!-- Jquery Nav JS -->
        <script src="js/jquery.nav.js"></script>
		<!-- Slicknav JS -->
		<script src="js/slicknav.min.js"></script>
		<!-- ScrollUp JS -->
        <script src="js/jquery.scrollUp.min.js"></script>
		<!-- Niceselect JS -->
		<script src="js/niceselect.js"></script>
		<!-- Tilt Jquery JS -->
		<script src="js/tilt.jquery.min.js"></script>
		<!-- Owl Carousel JS -->
        <script src="js/owl-carousel.js"></script>
		<!-- counterup JS -->
		<script src="js/jquery.counterup.min.js"></script>
		<!-- Steller JS -->
		<script src="js/steller.js"></script>
		<!-- Wow JS -->
		<script src="js/wow.min.js"></script>
		<!-- Magnific Popup JS -->
		<script src="js/jquery.magnific-popup.min.js"></script>
		<!-- Counter Up CDN JS -->
		<script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/bootstrap.min.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>
    </body>
</html>
