<%- include('./partials/header.ejs', {title: 'Home'}) -%>

<html class="no-js" lang="zxx">
    <head>
       
		<!-- Title -->
        <title>vaccine_form</title>
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
        <!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Apply for vaccine</h2>
							<ul class="bread-list">
								<li><a href="/vaccination">Vaccinate Yourself</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Apply for vaccine</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
        <!-- Start Appointment -->
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You. Book your vaccination appointment</h2>
							<img src="img/section-img.png" alt="#">
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-6 col-md-12 col-12">
						<form class="form" action="/vaccination" method="POST">
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="name" type="text" placeholder="Name">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="phone" type="text" placeholder="Phone">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<select name="forWhom">
											<option value="">Select For</option>
											<option value="Child">Child</option>
											<option value="Female">Female</option>
											<option value="Corona">Corona</option>
											<option value="Others">Others</option>
										</select>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input type="text" placeholder="Date" id="datepicker">
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input type="time" placeholder="Time" id="timepicker">
									</div>
								</div>
								<div class="col-lg-12 col-md-4 col-12">
									<div class="form-group">
										<textarea name="message" placeholder="Fill your vaccine detail here what you want.........."></textarea>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-lg-5 col-md-4 col-12">
									<div class="form-group">
										<div class="button">
											<button type="submit" class="btn">Apply for vaccine</button>
										</div>
									</div>
								</div>
							</div>
						</form>
						
					</div>
					<div class="col-lg-6 col-md-12 " >
						<div class="appointment-image">
							<img src="img/vaccine1.jpg" alt="#" >
						</div>
					</div>
				</div>
			</div>
		</section>
		<!-- End Appointment -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/1.0.10/datepicker.min.js"></script>
    <script>
        const datepicker = new Datepicker(document.getElementById('datepicker'), {
            format: 'yyyy-mm-dd'
        });
    </script>
    </body>
</html>
<%- include('./partials/footer.ejs') -%>