<%- include('./partials/header.ejs', {title: 'Vaccination'}) -%>

<html class="no-js" lang="zxx">
    <head>
   
		<!-- Title -->
        <title>Vaccination</title>
		
    </head>
    <body>
	
		<!-- Preloader -->
        <div class="preloader">
            <div class="loader">
                <div class="loader-outter"></div>
                <div class="loader-inner"></div>

                <div class="indicator"> 
                    <svg width="16px" height="12px">
                        <polyline id="back" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                        <polyline id="front" points="1 6 4 6 6 11 10 1 12 6 15 6"></polyline>
                    </svg>
                </div>
            </div>
        </div>
        <!-- End Preloader -->
       <!-- Breadcrumbs -->
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Vaccination</h2>
							<ul class="bread-list">
								<li><a href="/services">Services</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Vaccinate yourself</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- End Breadcrumbs -->
        <div class="container-fluid container-service py-5">
            <div class="container py-5">
                <div class="text-center mx-auto wow fadeInUp" data-wow-delay="0.1s" style="max-width: 700px;">
                    <h1 class="display-6 mb-3 mainheadeing">We Offer Vaccination Program To Protect Your Health</h1>
                    
                </div>
                <div class="row g-4">
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                        <div class="service-item">
                            <div class="icon-box-primary mb-4">
                                <i class="fa-solid fa-hands-holding-child"></i>                
                            </div>
                            <h5 class="mb-3">Child Vaccination</h4>
                                <p class="mb-4 text1">We provide all child related vaccines  .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                        <div class="service-item">
                            <div class="icon-box-primary mb-4">
                                <i class="fa-solid fa-person-dress"></i>                
                            </div>
                            <h5 class="mb-3">Females Vaccination</h4>
                                <p class="mb-4 text1">We provide female health related vaccines.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                        <div class="service-item">
                            <div class="icon-box-primary mb-4">
                                <i class="fa-solid fa-virus"></i>
                            </div>
                            <h5 class="mb-3">Corona Vaccination</h4>
                                <p class="mb-4 text1">We provide corona vaccines.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item">
                            <div class="icon-box-primary mb-4">
                                <i class="fa-solid fa-truck-medical"></i>
                            </div>
                            <h5 class="mb-3">Other Vaccinations</h4>
                                <p class="mb-4 text1">We provide Tetanus, Influenza, Pertussis, Diphtheria, Hepatitis B, Polio, Chickenpox.</p>
                        </div>
                         </div>
                         <div class="get-quote">
                            <a href="/vaccine_form" class="btn">Apply for vaccine</a>
                        </div>
                         
                        </div>
                        </div>
                        </div>
                       
     </body>
 </html>
 <%- include('./partials/footer.ejs') -%>