:root{
    --maincolor:#2ec8a6;
    --secondcolor:#f8a803;

}

.icon-box-primary,
.icon-box-light {
    position: relative;
    padding: 0 0 10px 10px;
    z-index: 1;
}

.icon-box-primary i,
.icon-box-light i {
    font-size: 60px;
    line-height: 0;
}

.icon-box-primary::before,
.icon-box-light::before {
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: 0;
    bottom: 0;
    border-radius: 35px;
    transition: .5s;
    z-index: -1;
}

.icon-box-primary::before {
    background: var(--maincolor);
}

.icon-box-light::before {
    background: var(--bs-light);
}
/*----header----*/

/*.page-header {
    background-size: cover;
    background: linear-gradient(rgba(3, 27, 78, .3), rgba(3, 27, 78, .3)), 
    linear-gradient(rgba(129, 244, 209, 0.5), rgba(129, 244, 209, 0.5)), 
    url('../img/bg blur2.jpg') center center/cover no-repeat;

}*/

/*** Service ***/
.mainheadeing{
    color:var(--maincolor);
    font-size: 40px;
}
.container-service {
    position: relative;
    
}

.text{
    font-size: 30px;
}

.text1{
    font-size: 15px;
}
.container-service::before {
    position: absolute;
    content: '';
    background: var(--bs-light);
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 30%, 0 70%);
    z-index: -1;
}

.service-item {
    position: relative;
    height: 80%;
   
    padding: 45px 10px;
    background: var(--bs-white);
    box-shadow: 0 0 45px rgba(0, 0, 0, .05);
}

.service-item::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    left: 0;
    bottom: 0;
    transition: .5s;
    background: var(--maincolor);
}

.service-item:hover::before {
    height: 100%;
    top: 0;
}

.service-item * {
    position: relative;
    transition: .5s;
    z-index: 1;
}
.service-item h5{
    font-size: 20px;
}
.text{
    font-size: 15px;
}
.service-item:hover h5,
.service-item:hover p {
    color: var(--bs-white);
}

.service-item:hover .icon-box-primary::before {
    background: var(--bs-dark);
}

.service-item:hover .icon-box-primary i {
    color: var(--bs-white) !important;
}



